#new, #old {
  float: left;
  width: 48vw;
}

#new .contents, #old .contents {
  border: 1px solid darkgray;
  margin: 5px;
  white-space: pre;
}

#coverage:after {
  content: "%";
}

.highlight {
  background-color: orange !important;
}