# Same front-end that's polymorphic to different note collections
./env/description.php
./env/title.php
./env/title-long.php
./env/dir-snippets.php
./env/icons.js

# Backups
backups/

+saveid*
.DS_Store
thumbs.db
desktop.ini
.vscode
package-lock.json
node_modules/
.sass-cache/
*.css.map
out/
*.env