# Same front-end that's polymorphic to different environments
cachedResData.json
cachedResPartial.php

# Same front-end that's polymorphic to different note collections
env/description-meta.php
env/description-must.php
env/description.php
env/dir-snippets.php
env/icons.js
env/title-long.php
env/title.php
env/url-update-log.php

# Backups
backups/

+saveid*
.DS_Store
thumbs.db
desktop.ini
.vscode
package-lock.json
node_modules/
.sass-cache/
*.css.map
out/
*.env