#new,
#old {
    float: left;
    width: 48vw;
}

#new .contents,
#old .contents {
    border: 1px solid darkgray;
    margin: 5px;
    white-space: pre;
}

#diff {
    padding: 2px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

#diff:empty {
    border: none;
}

#diff:not(:empty)::after {
    content: "%";
}

.highlight {
    background-color: orange !important;
}

.spacer {
    width: 100%;
    height: 5px;
}

.clickable {
    color: gray;
    cursor: pointer;
}

.clickable:hover {
    color: black;
}