#new, #old {
    float: left;
    // display: inline-block;
    width: 48vw;
    // min-height: 160px;
}
#new .contents, #old .contents {
    border: 1px solid darkgray;
    margin: 5px;
    white-space: pre; // make newlines recognizable to js
}

#coverage:after {
    content: "%";
}

.highlight {
    background-color: orange !important;
}