/** GENERAL LAYOUT **/
/** Stop ios making buttons rounded **/
/* line 3, scss/explorer.scss */
.override-ios-button-style {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  /* color: red; */
}

/** STYLING CLASSES **/
/* line 14, scss/explorer.scss */
.error {
  color: red;
  border: 1px solid red;
  background-color: lightred;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 26, scss/explorer.scss */
.text-black {
  color: black;
}

/** COMPONENTS **/
/* line 35, scss/explorer.scss */
#table-search-results th,
#table-search-results td {
  padding: 5px;
}
/* line 40, scss/explorer.scss */
#table-search-results td:nth-child(3) {
  width: 100%;
}
/* line 44, scss/explorer.scss */
#table-search-results pre {
  white-space: pre-wrap;
  width: 100%;
}

/* line 50, scss/explorer.scss */
#share-search-title-wrapper a:hover {
  text-decoration: none;
}

/* List Items */
/* line 56, scss/explorer.scss */
.accordion {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* line 66, scss/explorer.scss */
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    padding-inline-start: 5px !important;
  }
}
/* line 74, scss/explorer.scss */
dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0 !important;
}

/* line 79, scss/explorer.scss */
li {
  color: blue;
}

/* line 83, scss/explorer.scss */
li:hover {
  color: darkblue;
  cursor: pointer;
}

/* line 88, scss/explorer.scss */
.name {
  text-wrap: nowrap;
}

/* line 92, scss/explorer.scss */
.note-item-buttons:empty {
  display: none !important;
}

/* line 96, scss/explorer.scss */
.note-item-buttons .fa {
  cursor: pointer;
}

/* line 100, scss/explorer.scss */
.fa-book-reader {
  opacity: 0.5;
  font-size: 80%;
}

/* line 105, scss/explorer.scss */
.fa-book-reader::after {
  content: " Checked out";
}

/* line 110, scss/explorer.scss */
.responsive-iframe-container {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  height: 0;
}

/* line 117, scss/explorer.scss */
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tooltip for .json file's description property  */
/* line 127, scss/explorer.scss */
.tooltip {
  opacity: 1 !important;
}

/* line 131, scss/explorer.scss */
.tooltip-inner {
  font-size: 12px;
  background: lightgreen;
  border: 1px solid #737373;
  text-align: left;
  max-width: 80% !important;
  max-height: 80% !important;
  overflow: scroll;
}
/* line 140, scss/explorer.scss */
.tooltip-inner img {
  width: 100%;
}

/* Explore Curriculum is in a footer */
/* line 148, scss/explorer.scss */
.card-footer {
  padding: 0;
}

/* REFACTORED IN from ./assets-explorer/css/... */
/* Buttons fit */
/* line 155, scss/explorer.scss */
.fa-info,
.fa-book-reader:not(.summary-header),
.gotos-click,
.thermo,
.multistates-wrapper {
  margin-left: 1ch;
}

/* line 163, scss/explorer.scss */
.fa-info:hover,
.fa-book-reader:not(.summary-header):hover,
.gotos-click:hover {
  color: darkgreen;
}

/* line 169, scss/explorer.scss */
#target {
  font-size: 1.1rem;
}

/* line 173, scss/explorer.scss */
#target > ul > li > .name.is-folder[icon]::before {
  filter: sepia(1) hue-rotate(180deg);
  display: inline-block;
  min-width: 15px;
}

/* The default folder icon is actually nested */
/* line 181, scss/explorer.scss */
#target > ul > li > .name.is-folder[icon] > .fa-folder::before {
  content: "" !important;
}

/* line 185, scss/explorer.scss */
#target > ul > li > .name.is-folder:not([icon]) > .fa-folder::before {
  min-width: 15px;
  display: inline-block;
}

/* line 190, scss/explorer.scss */
button {
  cursor: pointer;
  border: 0;
}

/* line 195, scss/explorer.scss */
.custom-icon + .fa-folder {
  display: none;
}

/* line 199, scss/explorer.scss */
#explorer-btns {
  border-bottom: 1px dashed lightgray;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

/* line 209, scss/explorer.scss */
#explorer-btns button {
  margin-top: 5px;
}

/* line 213, scss/explorer.scss */
.highlight {
  background-color: orange;
}

/* line 217, scss/explorer.scss */
#explorer-btns .info-flex-child:nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: fit-content;
  gap: 5px;
}

@media screen and (max-width: 944px) {
  /* line 225, scss/explorer.scss */
  #explorer-btns {
    justify-content: center;
  }

  /* line 228, scss/explorer.scss */
  #explorer-btns .info-flex-child:nth-child(1) {
    flex-direction: column;
  }

  /* Most mobiles can't print. And toggling all opening will be horrible on mobile */
  /* line 232, scss/explorer.scss */
  #explorer-btns .info-flex-child:nth-child(2) {
    display: none;
  }
}
