/** GENERAL LAYOUT **/
/** Stop ios making buttons rounded **/
/* line 3, scss/explorer.scss */
.override-ios-button-style {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  /* color: red; */
}

/** STYLING CLASSES **/
/* line 14, scss/explorer.scss */
.error {
  color: red;
  border: 1px solid red;
  background-color: lightred;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/** COMPONENTS **/
/* Searcher */
/* line 30, scss/explorer.scss */
#searcher,
#searcher-btn {
  border-color: lightblue;
}

/* line 35, scss/explorer.scss */
#searcher-2,
#searcher-2-btn {
  border-color: #FFCCCB;
  /* light red */
}

/* line 43, scss/explorer.scss */
#table-search-results th,
#table-search-results td {
  padding: 5px;
}
/* line 48, scss/explorer.scss */
#table-search-results td:nth-child(3) {
  width: 100%;
}
/* line 52, scss/explorer.scss */
#table-search-results pre {
  white-space: pre-wrap;
  width: 100%;
}

@media print {
  /* line 59, scss/explorer.scss */
  #searcher-containers {
    display: none;
  }

  /* line 63, scss/explorer.scss */
  #printer-title::after {
    content: "Curriculum";
    font-size: 2rem;
  }
}
@media SCREEN and (max-width: 768px) {
  /* line 71, scss/explorer.scss */
  #searcher-containers,
  .container {
    padding: 0;
  }

  /* line 76, scss/explorer.scss */
  #searcher-containers {
    margin-top: 20px;
  }

  /* line 80, scss/explorer.scss */
  .mobile-flush-top {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}
/* line 98, scss/explorer.scss */
#searcher,
#searcher-2 {
  margin-left: 10px;
}

/* line 103, scss/explorer.scss */
#share-search-title-wrapper a:hover {
  text-decoration: none;
}

/* List Items */
/* line 109, scss/explorer.scss */
.accordion {
  cursor: pointer;
}

/* line 113, scss/explorer.scss */
.accordion.meta {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  /* line 118, scss/explorer.scss */
  ol ol, ol ul, ul ol, ul ul {
    padding-inline-start: 5px !important;
  }
}
/* line 123, scss/explorer.scss */
li {
  color: blue;
}

/* line 127, scss/explorer.scss */
li:hover {
  color: darkblue;
  cursor: pointer;
}

/* line 132, scss/explorer.scss */
.name {
  text-wrap: nowrap;
}

/* line 136, scss/explorer.scss */
.note-item-buttons .fa {
  cursor: pointer;
}

/* line 140, scss/explorer.scss */
.fa-book-reader {
  opacity: 0.5;
  font-size: 80%;
}

/* line 145, scss/explorer.scss */
.fa-book-reader::after {
  content: " Read";
}

/* line 149, scss/explorer.scss */
.responsive-iframe-container {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  height: 0;
}

/* line 156, scss/explorer.scss */
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tooltip for .json file's description property  */
/* line 166, scss/explorer.scss */
.tooltip {
  opacity: 1 !important;
}

/* line 170, scss/explorer.scss */
.tooltip-inner {
  font-size: 12px;
  background: lightgreen;
  border: 1px solid #737373;
  text-align: left;
  max-width: 80% !important;
  max-height: 80% !important;
  overflow: scroll;
}
/* line 179, scss/explorer.scss */
.tooltip-inner img {
  width: 100%;
}

/* Explore Curriculum is in a footer */
/* line 187, scss/explorer.scss */
.card-footer {
  padding: 0;
}

/* REFACTORED IN from ./assets-explorer/css/... */
/* Buttons fit */
/* line 194, scss/explorer.scss */
.fa-info,
.fa-book-reader:not(.summary-header),
.gotos-click,
.thermo,
.multistates-wrapper {
  margin-left: 1ch;
}

/* line 202, scss/explorer.scss */
.fa-info:hover,
.fa-book-reader:not(.summary-header):hover,
.gotos-click:hover {
  color: darkgreen;
}

/* line 210, scss/explorer.scss */
#target > ul > li > .name.is-folder[icon]::before {
  filter: sepia(1) hue-rotate(180deg);
  display: inline-block;
  min-width: 15px;
}

/* The default folder icon is actually nested */
/* line 218, scss/explorer.scss */
#target > ul > li > .name.is-folder[icon] > .fa-folder::before {
  content: "" !important;
}

/* line 221, scss/explorer.scss */
#target > ul > li > .name.is-folder:not([icon]) > .fa-folder::before {
  min-width: 15px;
  display: inline-block;
}

/* line 226, scss/explorer.scss */
#searcher {
  width: 180px;
}

/* line 230, scss/explorer.scss */
#searcher-2 {
  width: 180px;
}

@media screen and (min-width: 550px) {
  /* line 236, scss/explorer.scss */
  #searcher-btn::after,
  #searcher-2-btn::after {
    content: " Search";
  }

  /* line 241, scss/explorer.scss */
  #searcher-container,
  #searcher-container-2 {
    width: 370px;
    text-align: right;
  }
}
@media screen and (max-width: 549px) {
  /* line 250, scss/explorer.scss */
  #searcher-containers {
    width: 100%;
  }

  /* line 254, scss/explorer.scss */
  #searcher-container,
  #searcher-container-2 {
    width: 100% !important;
  }

  /* line 259, scss/explorer.scss */
  #searcher-containers label {
    display: block !important;
    text-align: center !important;
    width: 100%;
  }

  /* line 265, scss/explorer.scss */
  #searcher {
    width: 80%;
  }

  /* line 269, scss/explorer.scss */
  #searcher-2 {
    width: 80%;
  }

  /* line 273, scss/explorer.scss */
  #searcher + button,
  #searcher-2 + button {
    width: 15%;
  }
}
/* line 278, scss/explorer.scss */
.custom-icon + .fa-folder {
  display: none;
}
