@charset "UTF-8";
/* General Styling */
body {
  padding-bottom: 20px;
}

/* Testing zoom levels on mobiles. Non-standard / Experimental */
@media screen and (max-width: 768px) {
  :root {
    zoom: 1;
    /* transform: scale(0.7); */
    /* font-size: .7rem; */
    /* max-width: 100vw;
     margin: 0;
     padding: 0; */
  }

  .container {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .card {
    width: 100vw;
  }

  .card-body {
    padding: 20px 0;
  }

  #old .contents,
  #new .contents {
    margin: 0;
  }

  .contents {
    font-size: .7rem;
  }
}
/* Typography Hierarchy */
/* Typeface */
body {
  font-family: 'Roboto', sans-serif;
}

/* Body Text */
body {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* Styling classes (utility classes) */
.clickable {
  color: gray;
  cursor: pointer;
}

.clickable:hover {
  color: black;
}

.fullwidth100 {
  width: 100% !important;
  height: 125px;
}

.hide,
.hidden {
  display: none !important;
}

.highlight {
  background-color: orange;
}

.inline-block {
  display: inline-block;
}

.spacer {
  width: 100%;
  height: 5px;
}

/* General Layout */
.site-header {
  text-align: center;
}

#title {
  text-align: center;
  margin-top: 2rem;
  color: black !important;
}

#explore-curriculum iframe {
  resize: vertical;
}

#summary-title-wrapper {
  font-size: 1.3625em !important;
  font-weight: bold;
}

#summary-title {
  background-color: white;
  opacity: 1;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

#summary-inner textarea {
  border-color: white;
}

#summary-inner pre {
  white-space: break-spaces;
  color: white;
  background-color: #969696;
  margin: 10px;
}

#summary-inner img {
  max-width: calc(100% - 40px);
}

#summary-inner img.state-1 {
  width: 75%;
}

#summary-inner img.state-2 {
  width: 50%;
}

#summary-inner img.centered {
  margin-left: auto;
  margin-right: auto;
}

/* Fieldset layout */
#explore-curriculum fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}
#explore-curriculum fieldset legend {
  display: inline-block !important;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-bottom: 0 !important;
  width: auto !important;
  margin-bottom: 0;
  /* min-width: 0 !important; */
}

/* Toggle side by side curriculum explorer along notes view */
/* Superceded by collapser which is next to the summary title */
.sides:has(.side-by-side) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.side-by-side {
  min-width: 50%;
  max-width: 50%;
}

.side-by-side-possible {
  padding: 0 !important;
}

#js-visible-if-contents {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#summary-collapser {
  cursor: pointer;
  /* transform rotate wouldn't work on inline */
  display: inline-block;
  color: black;
  font-weight: 400;
  background-color: lightgray;
  margin-left: 10px;
  border-radius: 5px;
  font-style: normal;
  /* To override italic from Tufte when inside heading tag */
  padding: 5px;
  width: 30px;
  text-align: center;
}

#summary-collapser.stated {
  transform: rotate(90deg);
}

#summary-sharer {
  background: none !important;
  margin-top: 5px;
}

#dashboard:not(.active) {
  display: none;
}

#dashboard {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(150, 150, 150, 0.5);
  padding: 10px 10px;
  padding-right: 30px;
  opacity: 0.5;
}

#dashboard:hover {
  opacity: 1;
}

#dashboard i {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  #dashboard {
    padding: 5px;
    padding-right: 20px;
  }

  #dashboard i {
    font-size: 28px;
  }
}
/* Table of contents at top right */
#toc-toggler {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  z-index: 500;
}

/* Jump to explorer at bottom right */
#jump-curriculum {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  background-color: white;
  z-index: 500;
  width: 100%;
  text-align: right;
  height: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #jump-curriculum {
    padding: 10px 10px 10px 10px;
  }
}
#toc-toggler:not(.filled) {
  display: none;
}

#toc {
  display: none;
  position: fixed;
  top: 20px;
  right: 0;
  padding: 40px;
  background-color: white;
  line-height: 1.5rem;
  font-size: 1rem;
  max-width: 90vw;
  /* If long TOC clipped off on mobile */
  max-height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media screen and (min-width: 768px) {
  #toc {
    max-width: 40vw;
  }
}
#toc:empty {
  display: none !important;
}

#mobile-tap.active + #toc {
  display: block;
}

#toc .h1,
#toc .h2,
#toc .h3,
#toc .h4,
#toc .h5,
#toc .h6 {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: clip;
  font-size: 1.2rem;
}

#toc .h2 {
  margin-left: 2ch;
}

#toc .h2::before {
  content: "•\00a0";
}

#toc .h3 {
  margin-left: 4ch;
}

#toc .h3::before {
  content: "—\00a0";
}

#toc .h4 {
  margin-left: 6ch;
}

#toc .h4::before {
  content: "➣\00a0";
}

#toc .h5 {
  margin-left: 8ch;
}

#toc .h5::before {
  content: "➨\00a0";
}

#toc .h6 {
  margin-left: 10ch;
}

#toc .h6::before {
  content: "◦\00a0";
}

.description-must {
  position: relative;
  overflow: visible;
  margin: 20px auto;
}

.more-notes {
  /* margin: 10px auto; */
  list-style-type: none;
  /* Removes bullet points */
  background-color: #F5F5F5;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  font-weight: 250;
  overflow-y: hidden;
  text-align: center;
  transition: height 5s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.more-notes .mn-header {
  transform: rotate(270deg);
}

.more-notes .mn-links {
  width: 100%;
  max-width: 600px;
  text-align: left;
  text-align: center;
  display: flex;
  align-items: center;
}

.more-notes .mn-links li {
  display: inline;
  text-align: center;
  flex: 1;
  flex-grow: 1;
  min-width: 33%;
}

/* UI UX: Left vertical green bar to collapse lesson */
#summary-outer {
  position: relative;
}

#side-a {
  border: 1px solid gray;
  padding: 2px;
  margin-left: 25px;
}

#summary-left-bar {
  position: absolute;
  height: calc(100% + 50px + 10px);
  width: 15px;
  left: -20px;
  top: -55px;
  cursor: pointer;
  background-image: repeating-linear-gradient(45deg, transparent, transparent calc(10vh - 1px), rgba(128, 128, 128, 0.25) calc(10vh - 1px), rgba(128, 128, 128, 0.25) calc(10vh));
  background-position: 0 0;
}

#explorer {
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  width: 100%;
  height: 580px;
}

/* Get rid of markdown it with latext's ruler lines */
.stretchy svg {
  display: none !important;
}

/* Prevents duplicate Latex */
.katex-html {
  display: none;
}

/* Scroll markers on the left */
.scroll-marker {
  position: absolute;
  left: 0;
  /* top is js controlled */
  transform: translateX(-100%);
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  transition: all 0.5s ease;
  transform: rotate(0) translateX(-100%) translateY(0);
  transform-origin: left bottom;
  opacity: 0.50;
}

.scroll-marker.past {
  transform: rotate(45deg) translateX(-30px) translateY(25px);
  transform-origin: left bottom;
  opacity: 0.20;
}

@media screen and (max-width: 768px) {
  .scroll-marker {
    transform: rotate(0) translateX(-100%) translateY(25px);
    font-size: 50%;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
  }

  .scroll-marker.past {
    transform: rotate(45deg) translateX(-6px) translateY(25px);
  }
}
/** GENERAL LAYOUT **/
/** Stop ios making buttons rounded **/
.override-ios-button-style {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  /* color: red; */
}

/** STYLING CLASSES **/
.error {
  color: red;
  border: 1px solid red;
  background-color: lightred;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.text-black {
  color: black;
}

/** COMPONENTS **/
#search-results {
  padding-bottom: 60px;
}
#search-results th,
#search-results td {
  padding: 5px;
  vertical-align: top;
}
#search-results td:nth-child(3) {
  width: 100%;
}
#search-results pre {
  white-space: pre-wrap;
  width: 100%;
}

#share-search-title-wrapper {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  background-color: white;
  z-index: 501;
  width: 100%;
  text-align: right;
  height: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#share-search-title-wrapper a {
  text-decoration: none;
}

/* List Items */
.accordion {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    padding-inline-start: 5px !important;
  }
}
dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0 !important;
}

#explorer li {
  color: blue;
  margin-bottom: 0.5rem;
}

#explorer li:hover {
  color: darkblue;
  cursor: pointer;
}

#explorer ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.name {
  text-wrap: nowrap;
}

.note-item-buttons:empty {
  display: none !important;
}

.note-item-buttons .fa {
  cursor: pointer;
}

#explorer .fa-book-reader {
  opacity: 0.5;
  font-size: 80%;
}

#explorer .fa-book-reader::after {
  content: "\00a0Opened";
}

.responsive-iframe-container {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  height: 0;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tooltip for .json file's description property  */
.tooltip {
  opacity: 1 !important;
}

.tooltip-inner {
  font-size: 12px;
  background: lightgreen;
  border: 1px solid #737373;
  text-align: left;
  max-width: 80% !important;
  max-height: 80% !important;
  overflow: scroll;
}
.tooltip-inner img {
  width: 100%;
}

/* Explore Curriculum */
.card-footer {
  padding: 0;
}

#topics-list .name.is-file {
  text-decoration: none;
}

#topics-list > ul > li > .name.is-folder[icon]::before {
  filter: sepia(1) hue-rotate(180deg);
  display: inline-block;
  min-width: 15px;
}

/* The default folder icon is actually nested */
#topics-list > ul > li > .name.is-folder[icon] > .fa-folder::before {
  content: "" !important;
}

#topics-list > ul > li > .name.is-folder:not([icon]) > .fa-folder::before {
  min-width: 15px;
  display: inline-block;
}

#topics-list .fa-book-reader {
  margin-left: 1ch;
}

button {
  cursor: pointer;
  border: 0;
}

.custom-icon + .fa-folder {
  display: none;
}

.custom-icon > svg {
  display: inline;
}

#explorer-btns {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

#explorer-btns button {
  margin-top: 5px;
}

.highlight {
  background-color: #FFC966;
}

#explorer-btns .info-flex-child:nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: fit-content;
  gap: 5px;
}

@media screen and (max-width: 944px) {
  #explorer-btns {
    justify-content: center;
  }

  #explorer-btns .info-flex-child:nth-child(1) {
    flex-direction: column;
  }

  /* Most mobiles can't print. And toggling all opening will be horrible on mobile */
  #explorer-btns .info-flex-child:nth-child(2) {
    display: none;
  }
}
#topics-list {
  overflow-x: scroll;
}

#explore-header {
  width: calc(100vw - 50px);
  border-top: 1px dashed lightgray;
}

#side-a {
  width: calc(100vw - 50px);
}

#side-b {
  width: calc(100vw - 50px);
}
