/* Modal container (hidden by default) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
}

/* Modal header */
.modal-header {
  position: relative;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.modal .close:hover,
.modal .close:focus {
  color: #000;
}
