
/* Game Layout */

#new,
#old {
    float: left;
    width: 50%;
}

#new .contents,
#old .contents {
    border: 1px solid darkgray;
    margin: 5px;
    white-space: break-spaces;
}

#new textarea:blur {
    // outline: none !important;
    // border: 1px solid red;
    // box-shadow: 0 0 10px #719ECE;
    border-style: none !important;
    border-color: Transparent !important;
    overflow: auto !important;
}


#old[data-class-level="1"] .highlight {
    background-color: orange !important;
}

#diff {
    padding: 2px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

#diff:empty {
    border: none;
}

#diff:not(:empty)::after {
    content: "%";
}


/* Retype Game: Difficulty levels */

.instructions {
    min-height: 60px;
    max-height: 60px;
}

.difficulty .form-control[type="radio"] {
    height: auto;
}

.difficulty .form-group {
    margin-right: 2ch;
}

/* Retype Game: Hiding parts at higher difficulty levels */
.fog {
    transition: background-color 200ms ease;
}


/* Resort-lines */

.li-correct {
    border: 1px solid green;
    background-color: lightgreen;
}

.li-incorrect {
    border: 1px solid red;
    background-color: #FFCCCB;
}


