// Styling classes
.inline-block {
    display: inline-block;
}

// Components
h3 {
    font-size: 1.5rem;
}

.site-header {
    text-align: center;
}

#new,
#old {
    float: left;
    width: 50%;
}

#new .contents,
#old .contents {
    border: 1px solid darkgray;
    margin: 5px;
    white-space: break-spaces;
}

#new textarea:blur {
    // outline: none !important;
    // border: 1px solid red;
    // box-shadow: 0 0 10px #719ECE;
    border-style: none !important;
    border-color: Transparent !important;
    overflow: auto !important;
}

#diff {
    padding: 2px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

#diff:empty {
    border: none;
}

#diff:not(:empty)::after {
    content: "%";
}

#old[data-class-level="1"] .highlight {
    background-color: orange !important;
}

.spacer {
    width: 100%;
    height: 5px;
}

.clickable {
    color: gray;
    cursor: pointer;
}

.clickable:hover {
    color: black;
}

.card {
    margin: 30px auto 30px auto;
}

.difficulty .form-control[type="radio"] {
    height: auto;
}

.difficulty .form-group {
    margin-right: 2ch;
}

.fog {
    transition: background-color 200ms ease;
}

.hide {
    display: none;
}

#explore-curriculum iframe {
    resize: vertical;
}


/* Testing zoom levels on mobiles. Non-standard / Experimental */

@media screen AND (max-width: 768px) {
     :root {
        zoom: 1;
        /* transform: scale(0.7); */
        /* font-size: .7rem; */
        /* max-width: 100vw;
          margin: 0;
          padding: 0; */
    }
    .container {
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .card {
        width: 100vw;
    }
    .card-body {
        padding: 20px 0;
    }
    #old .contents,
    #new .contents {
        margin: 0;
    }
    .contents {
        font-size: .7rem;
    }
}


/* Explore Curriculum is in a footer */

.card-footer {
    padding: 0;
}


/* Resort-lines */

.li-correct {
    border: 1px solid green;
    background-color: lightgreen;
}

.li-incorrect {
    border: 1px solid red;
    background-color: #FFCCCB;
}


/* Toggle side by side for curriculum explorer and its notes */

.side-by-side {
    float: left;
    width: 50%;
}

#js-visible-if-contents {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}