/* General Styling */
h3 {
    font-size: 1.5rem;
}


/* Testing zoom levels on mobiles. Non-standard / Experimental */
@media screen AND (max-width: 768px) {
    :root {
       zoom: 1;
       /* transform: scale(0.7); */
       /* font-size: .7rem; */
       /* max-width: 100vw;
         margin: 0;
         padding: 0; */
   }
   .container {
       margin: 0;
       padding: 0;
       width: 100vw;
   }
   .card {
       width: 100vw;
   }
   .card-body {
       padding: 20px 0;
   }
   #old .contents,
   #new .contents {
       margin: 0;
   }
   .contents {
       font-size: .7rem;
   }
}


/* Styling classes */

.clickable {
    color: gray;
    cursor: pointer;
}

.clickable:hover {
    color: black;
}
.fullwidth100 {
    width: 100% !important;
    height: 125px;
}
.hide, .hidden {
    display: none;
}
.highlight {
    background-color: orange;
}
.inline-block {
    display: inline-block;
}

.spacer {
    width: 100%;
    height: 5px;
}



/* General Layout */

.site-header {
    text-align: center;
}

#new,
#old {
    float: left;
    width: 50%;
}

#new .contents,
#old .contents {
    border: 1px solid darkgray;
    margin: 5px;
    white-space: break-spaces;
}

#new textarea:blur {
    // outline: none !important;
    // border: 1px solid red;
    // box-shadow: 0 0 10px #719ECE;
    border-style: none !important;
    border-color: Transparent !important;
    overflow: auto !important;
}

#diff {
    padding: 2px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

#diff:empty {
    border: none;
}

#diff:not(:empty)::after {
    content: "%";
}

#old[data-class-level="1"] .highlight {
    background-color: orange !important;
}

.card {
    margin: 30px auto 30px auto;
}


#explore-curriculum iframe {
    resize: vertical;
}

#summary-inner textarea {
    border-color: white;
}

#summary-inner pre {
    white-space: break-spaces;
}

#summary-inner img { 
    max-width: 100%; 
}

/* Fieldset layout */
#explore-curriculum fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;

   legend {
      display: inline-block !important;
      padding-inline-start: 4px;
      padding-inline-end: 4px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-bottom: 0 !important;
      width: auto !important;
      margin-bottom: 0;
      /* min-width: 0 !important; */
    }
}

/* Toggle side by side curriculum explorer along notes view */
/* Superceded by collapser which is next to the summary title */

// #explore-curriculum .side-by-side {
//     float: left;
//     width: 50%;
// }
.sides:has(.side-by-side) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.side-by-side {
    min-width: 50%;
    max-width: 50%;
}

#js-visible-if-contents {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#summary-collapser {
    cursor: pointer; 
    display: inline-block; /* transform rotate wouldn't work on inline */
    color: gray;
}
#summary-collapser.stated {
    transform: rotate(90deg); 
}