// Styling classes
.inline-block {
    display: inline-block;
}

// Components
h3 {
    font-size: 1.5rem;
}

#new,
#old {
    float: left;
    width: 50%;
}

#new .contents,
#old .contents {
    border: 1px solid darkgray;
    margin: 5px;
    white-space: break-spaces;
}

#new textarea:blur {
    // outline: none !important;
    // border: 1px solid red;
    // box-shadow: 0 0 10px #719ECE;
    border-style: none !important;
    border-color: Transparent !important;
    overflow: auto !important;
}

#diff {
    padding: 2px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

#diff:empty {
    border: none;
}

#diff:not(:empty)::after {
    content: "%";
}

#old[data-class-level="1"] .highlight {
    background-color: orange !important;
}

.spacer {
    width: 100%;
    height: 5px;
}

.clickable {
    color: gray;
    cursor: pointer;
}

.clickable:hover {
    color: black;
}

.card {
    margin: 30px auto 30px auto;
}

.difficulty .form-control[type="radio"] {
    height: auto;
}

.difficulty .form-group {
    margin-right: 2ch;
}