
.thermo *:nth-child(1) {
    color: lightgray;
}
.thermo *:nth-child(2) {
    color: darkgreen;
}
.thermo *:nth-child(3) {
    
    color: orange;
}
.thermo *:nth-child(4) {
    color: red;
}
.thermo .fas:not(.active) {
    display: none;
}

/* REFACTORED IN from ./assets-explorer/css/... */
.thermo {
    border-left: .1rem solid lightgray; 
    padding-left:6px; 
    height: 1.6ch;
    font-size: 10px;
    vertical-align: top;
}
